
.footer {
  background-color: #1A1A1A;
  color: 	#F5F3E7;
}

.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 3rem;
   padding: 5vh 5vw;
}

.footer-logo h2 {
  color: 	#C9A74A;
  font-size: 1.8rem;
  line-height: 1.2;
  font-family: "Rye", serif;
  font-weight: 400;
  font-style: normal;
}
.footer-logo .bold {
  font-weight: 700;
}

.footer-section h3,
.footer-newsletter h3 {
  color: #C9A74A;
  font-size: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.6rem;
 padding-top: 9px ;
}

.footer-section ul li a {
  color: #777;
  text-decoration: none;
  transition: color 0.3s;
 font-weight: 400;
}

.footer-section ul li a:hover {
  color:  #D6A76C;
}

.footer-newsletter {
  max-width: 280px;
  display: flex;
  flex-direction: column;
}

.footer-newsletter input {
  
  margin-bottom: 0.6rem;
  border: 1px solid #F5F3E7;
  border-radius: 4px;
  background: 	#1A1A1A;
 min-width: 200px;
    font-size: 14px;
      padding: 10px;
      color: #F5F3E7;

}

.footer-newsletter button {
  padding: 0.6rem;
  background-color: #C9A74A;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}

.footer-newsletter button:hover {
  background-color: #D6A76C;
}



.footer-bottom {
  flex-direction: column;
  align-items: center;
  font-size: 0.80rem;
  text-align: left;
  padding: 2vh 2vw;
  gap: 1rem;
  border-top:  solid 1px #444;
}



.footer-social {
  display:inline;
  align-items: center;
  text-align: center;
}

.footer-social i {
  font-size: 1.2rem;
  color: 	#F5F3E7;
  transition: color 0.3s;
  margin: 0.50rem;
}

.footer-social i:hover {
  color: #4A3F35;
}

@media (max-width: 1080px) {
  .footer-top {
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (max-width: 768px) {
  .footer-top {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer-newsletter {
    width: 100%;
  }

  .footer-bottom {
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
  .footer-newsletter {
   max-width: 100%;
  }
 
  .footer-top {
    gap: 1rem;
  }
}

@media (max-width: 375px) {
  .footer {
    font-size: 0.85rem;
  }

  .footer-newsletter input,
  .footer-newsletter button {
    font-size: 0.85rem;
  }
}
