
.header{
    background-color: transparent;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.nav-list{
    display: flex;
    align-items: center;
    list-style: none;
    margin: 5px;
    padding: 10px;
    color:gold;
}

a{
    text-decoration: none;
    color: gold;
    font-size: large;
    font-weight: 600;
    margin: 10px;
}
