.body-background {
    display: flex;
    flex-direction: column;
    background-color: #F5F3E7;
    color: #1A1A1A;
    width: 100%;
    height: 100%;
    z-index: 0;
    align-items: center;
    position: relative; 
}

.contenedor-carousel {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: absolute; 
    top: 80px; 
    left: 0;
    z-index: 2;
    margin-top:80px;
    flex-wrap: nowrap;
}
.arrow-left{
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}
.arrow-right{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 3;
}

.main-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-evenly;
}
.main-container > .header-container{
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  margin-bottom:10px;
}